@model IEnumerable<MovieCardModel>
@{
    var genres = (IEnumerable<string>)ViewBag.Genres;
    var selected = ViewBag.SelectedGenre as string;
}
<h3 class="mb-3">@((selected != null) ? $"{selected} Movies" : "Browse Movies")</h3>

<div class="grid">
@foreach (var m in Model)
{
    @await Html.PartialAsync("~/Views/Shared/_MovieCard.cshtml", m)
}
</div>
